<header>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #FFFFFF;">
    <div class="container">
      <!--ハンバーガーメニューの設定-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
        <!--管理者-->
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>レシピ<% end %></li>
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>会員一覧<% end %></li>
        <% elsif user_signed_in? %>
        <!--会員-->
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>新規レシピ投稿<% end %></li>
        <li class="nav-item css_font"><%= link_to root_path(current_user.id),class: 'nav-link' do %>マイページ<% end %></li>
        <% else %>
        <!--非会員-->
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>トップ<% end %></li>
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>Quick Cookとは？<% end %></li>
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>会員登録<% end %></li>
        <li class="nav-item css_font"><%= link_to root_path,class: 'nav-link' do %>ログイン<% end %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>